test/osacbm/mimosa-osa-cbm-v03-3-1/V3.3.1/02-XSD/DataManipulation.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Copyright 2010 MIMOSA. All Rights Reserved. -->
<xs:schema targetNamespace="http://www.mimosa.org/OSACBMV3.3.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mimosa.org/OSACBMV3.3.1">
	<xs:element name="DMPort" type="DMPort"/>
	<xs:complexType name="DMPort">
		<xs:annotation>
			<xs:documentation>DM layer OutPort information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Port">
				<xs:sequence>
					<xs:element name="alertRegs" type="AlertRegion" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Stores information related to an alert region that a data event can activate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measLoc" type="MeasLoc" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Contains the MIMOSA table keys for identifying the measurement location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phaseEU" type="EngUnit" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The MIMOSA table keys that identify the engineering units for the phase.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="types" type="MimTypeDescriptors" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stores DM OutPort "type" information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valueEU" type="EngUnit" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The MIMOSA table keys that identify the engineering units for the value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xAxisEU" type="EngUnit" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The MIMOSA table keys that identify the engineering units for the x-axis.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MimTypeDescriptors" type="MimTypeDescriptors"/>
	<xs:complexType name="MimTypeDescriptors">
		<xs:annotation>
			<xs:documentation>Stores DM OutPort "type" information (Post-processed signal processing scaling type, Source signal detector type, FFT/time waveform window type), along with x-axis information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="postScalType" type="MIMKey3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the post-processed signal processing scaling mode.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcDetectType" type="MIMKey3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the source signal detector type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="windowType" type="WindowType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the type of FFT or time waveform window used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xAxisMax" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum x-axis value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xAxisMin" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minimum x-axis value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WindowType" type="WindowType"/>
	<xs:complexType name="WindowType">
		<xs:annotation>
			<xs:documentation>Identifies the type of FFT or time waveform window used.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="MIMKey3" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The MIMOSA table keys for identifying the window type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pf_multiplier" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The power factor multiplier for the window.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DMDataEvent" type="DMDataEvent"/>
	<xs:complexType name="DMDataEvent">
		<xs:annotation>
			<xs:documentation>A generic DM layer class that inherits directly from DataEvent.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataEvent">
				<xs:sequence>
					<xs:element name="dataStatus" type="DataStatus" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specifies the status of the data from an enumerated list.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numAlerts" type="NumAlert" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Ampl" type="Ampl"/>
	<xs:complexType name="Ampl">
		<xs:annotation>
			<xs:documentation>Stores a DM layer amplitude.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
					<xs:element name="phase" type="xs:double" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The phase of the DM layer amplitude.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value of the DM layer amplitude.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CPB" type="CPB"/>
	<xs:complexType name="CPB">
		<xs:annotation>
			<xs:documentation>Stores CPB (constant percentage bandwidth spectrum) data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
					<xs:element name="bndWidth" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The bandwidth of the CPB data.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cntrBnd1Hz" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The first band's center frequency in hertz.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cpbBndType" type="BndType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specifies the bandwidth type (percent or octave).</xs:documentation>
						</xs:annotation>
					</xs:element>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>Values can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="values" type="xs:double" />
          					<xs:element name="valuesList" type="listOfDouble" />
						<xs:element name="valuesBinary" type="xs:base64Binary" />
        				</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BndType">
		<xs:annotation>
			<xs:documentation>An enumeration specifying the bandwidth type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="octave">
				<xs:annotation>
					<xs:documentation>Number describes octave.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="percent">
				<xs:annotation>
					<xs:documentation>Number describes percentage of center frequency.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DMVector" type="DMVector"/>
	<xs:complexType name="DMVector">
		<xs:annotation>
			<xs:documentation>Stores a DM layer vector.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
					<xs:element name="value" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stores the value of the vector.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xValue" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stores the x-value of the vector.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DMReal" type="DMReal"/>
	<xs:complexType name="DMReal">
		<xs:annotation>
			<xs:documentation>Stores a DM layer real-number value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
					<xs:element name="value" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stores the real-number value.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DMBool" type="DMBool"/>
	<xs:complexType name="DMBool">
		<xs:annotation>
			<xs:documentation>Stores a DM layer boolean value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
					<xs:element name="value" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stores the boolean value.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DMInt" type="DMInt"/>
	<xs:complexType name="DMInt">
		<xs:annotation>
			<xs:documentation>Stores a DM layer integer value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
					<xs:element name="value" type="xs:int" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stores the integer value.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DMDataSeq" type="DMDataSeq"/>
	<xs:complexType name="DMDataSeq">
		<xs:annotation>
			<xs:documentation>Stores a DM layer data sequence.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>Values can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="values" type="xs:double" />
          					<xs:element name="valuesList" type="listOfDouble" />
						<xs:element name="valuesBinary" type="xs:base64Binary" />
        				</xs:choice>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>xAxisDeltas can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="xAxisDeltas" type="xs:double" />
          					<xs:element name="xAxisDeltasList" type="listOfDouble" />
						<xs:element name="xAxisDeltasBinary" type="xs:base64Binary" />
        				</xs:choice>
					<xs:element name="xAxisStart" type="xs:double" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The starting value of the data sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RealWaveform" type="RealWaveform"/>
	<xs:complexType name="RealWaveform">
		<xs:annotation>
			<xs:documentation>Stores real waveform data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>Values can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="realValues" type="xs:double" />
          					<xs:element name="realValuesList" type="listOfDouble" />
						<xs:element name="realValuesBinary" type="xs:base64Binary" />
        				</xs:choice>
					<xs:element name="xAxisDelta" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The spacing of the waveform.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xAxisStart" type="xs:double" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The starting value of the waveform.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CmplxWaveform" type="CmplxWaveform"/>
	<xs:complexType name="CmplxWaveform">
		<xs:annotation>
			<xs:documentation>Stores complex waveform data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>Values can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="imagValues" type="xs:double" />
          					<xs:element name="imagValuesList" type="listOfDouble" />
						<xs:element name="imagValuesBinary" type="xs:base64Binary" />
        				</xs:choice>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>Values can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="realValues" type="xs:double" />
          					<xs:element name="realValuesList" type="listOfDouble" />
						<xs:element name="realValuesBinary" type="xs:base64Binary" />
        				</xs:choice>
					<xs:element name="xAxisDelta" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The spacing of the waveform.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xAxisStart" type="xs:double" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The starting value of the waveform.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RealFrqSpect" type="RealFrqSpect"/>
	<xs:complexType name="RealFrqSpect">
		<xs:annotation>
			<xs:documentation>Stores real frequency spectrum data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>Values can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="realValues" type="xs:double" />
          					<xs:element name="realValuesList" type="listOfDouble" />
						<xs:element name="realValuesBinary" type="xs:base64Binary" />
        				</xs:choice>
					<xs:element name="xAxisDelta" type="xs:double" minOccurs="1" maxOccurs="1"/>
					<xs:element name="xAxisMin" type="xs:double" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CmplxFrqSpect" type="CmplxFrqSpect"/>
	<xs:complexType name="CmplxFrqSpect">
		<xs:annotation>
			<xs:documentation>Stores complex frequency spectrum data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>Values can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="imagValues" type="xs:double" />
          					<xs:element name="imagValuesList" type="listOfDouble" />
						<xs:element name="imagValuesBinary" type="xs:base64Binary" />
        				</xs:choice>
        				<xs:choice>
          					<xs:annotation>
            					<xs:documentation>Values can be stored as a list of individual double elements, as a single space-separated list of doubles, or as a base64 string</xs:documentation>
          					</xs:annotation>
          					<xs:element maxOccurs="unbounded" name="realValues" type="xs:double" />
          					<xs:element name="realValuesList" type="listOfDouble" />
						<xs:element name="realValuesBinary" type="xs:base64Binary" />
        				</xs:choice>
					<xs:element name="xAxisDelta" type="xs:double" minOccurs="1" maxOccurs="1"/>
					<xs:element name="xAxisMin" type="xs:double" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DMBLOBData" type="DMBLOBData"/>
	<xs:complexType name="DMBLOBData">
		<xs:annotation>
			<xs:documentation>Stores DM layer BLOB (Binary Large OBject) data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
					<xs:element name="mEventBlobType" type="MIMKey3" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>MIMKey3 information for the associated BLOB data.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="BLOB" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stores the BLOB (Binary Large OBject) data.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UserDef" type="UserDef"/>
	<xs:complexType name="UserDef">
		<xs:annotation>
			<xs:documentation>Stores user-defined DM data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DMDataEvent">
				<xs:sequence>
					<xs:element name="value" type="Data" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The user-defined data.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
